header{
    max-width: 1320px;
    max-height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../Images/banner.png);
margin: 0 auto;
gap: 0;
}
.banner-sub-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:130px 400px 0px 400px ;
}
.banner-title{
    max-width: 632px;
 color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px; 
padding-bottom: 400px;
padding-left: 320px;
padding-top: 0px;
}
/*main section start*/
main{
    max-width: 1320px;
    margin: 120px auto;
}
main section{
    margin: 150px auto;
}
/*categories section*/

.categories-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.categories-subtitle{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.categories-last-title{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.categories img{
    align-items: center;
    padding: 0 310px;
    margin-top: 30px;
}

/* welcome section */
.welcome{
    background-image: url(../Images/party.png);
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../Images/party.png);
    display: flex;
    padding: 50px 130px;
}
.welcome-section-title{
    max-width: 650px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
.welcome-section-description{
    max-width: 690px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
#join{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}
.welcome-img{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
/*join-now section */

.join-now{
    align-items: center;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
text-align: center;

}


.join-now-button{border-radius: 8px;
    background: #F00;
    color:white;
 display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
border: 0;
gap: 10px;
margin-top: 20px;
}
 #address{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
padding: 100px 350px ;
}
.join-now h4 span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
}
/* best offer section */

.best-offer {
    display: flex;
    background-image: url(../Images/offer.png);
    background-repeat: no-repeat;
    background-size: 350px ;
    background-position: center;
}
.best-offer.best-offer-sub-title {
    width: 150px;
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.best-offer.best-offer-title {
    width: 300px;
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.best-offer.description {
    width: 350px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.best-offer.2024 {
    width: 100px;
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.best-offer.best-offer-img-2{
    width: 110px;
height: 110px;
}
/* portfolio section */
.portfolio.portfolio-subtitle{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio.portfolio-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.portfolio.portfolio-img1 {
    display: flex;
    width: 424px;
height: 450px;
flex-shrink: 0;
}
.portfolio-img2 {
    display: flex;
    width: 424px;
height: 450px;
flex-shrink: 0;
}
/* newsletter section */
.newsletter{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
align-items: center;
justify-content: center;
padding: 100px 50px 100px 100px;
}
.newsletter.newsletter-title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.newsletter img{
    padding:50px 250px;
    height: 150px;
    width: 150px;
}
.newsletter.form{
    display: flex;
    gap: 0;
}

/* footer section */
footer {
    background: #070211;
    max-width: 1600px;
    color: #FFF;
    padding: 80px;
    font-size:22px;
}
.fotter-info{
    display: flex;
    justify-content: space-between;
}
.fotter-location{
    height: 80px;
    width: 350px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
}
#call,#web {
    height: 24px;
    width: 24px;
    display: inline;
}

.footer-links {
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 80px auto;
}
#facebook,#instragram,#twitter#linkdin{
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.footer-end {
    display: flex;
    justify-content: space-between;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
