header{
    max-width: 1320px;
    max-height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../Images/banner.png);
margin: 0 auto;
gap: 0;
}
.banner-sub-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:130px 400px 0px 400px ;
}
.banner-title{
    max-width: 632px;
 color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px; 
padding-bottom: 400px;
padding-left: 320px;
padding-top: 0px;
}
/*main section start*/
main{
    margin: 150px auto;
}
/*categories section*/

.categories-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.categories-subtitle{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.categories-last-title{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.categories img{
    align-items: center;
    padding: 0 310px;
    margin-top: 30px;
}